.breadcrumb-container {
    display: flex;
    justify-content: flex-start;

    width: 100%;
    padding: 1em;
}

.breadcrumb-container__item,
.breadcrumb-container__item_last {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.breadcrumb-container__item_last {
    cursor: pointer;
    color: blue;
}

.breadcrumb-container__item > svg {
    margin-right: .5em;
    margin-left: .5em;
}